@import "imports/reset.css";
@import "imports/variables.css";
@import "imports/fonts.css";
@import "imports/type.css";
@import "imports/layout.css";
@import "imports/block.css";

/* Components */
@import "imports/button.css";
@import "imports/input.css";

/* Layouts */
@import "imports/markupcontent.css";

/* Blocks */
@import "imports/block-header-1.css";
@import "imports/block-header-2.css";
@import "imports/block-header-3.css";
@import "imports/block-hero-1.css";
@import "imports/block-hero-2.css";
@import "imports/block-hero-3.css";
@import "imports/block-one-column-1.css";
@import "imports/block-two-column-1.css";
@import "imports/block-three-column-1.css";
@import "imports/block-four-column-1.css";
@import "imports/block-cta-bar.css";
@import "imports/block-footer-1.css";
@import "imports/block-footer-2.css";
@import "imports/block-text-1.css";
@import "imports/block-feature-1.css";
@import "imports/block-feature-2.css";
@import "imports/block-media-1.css";
@import "imports/block-media-2.css";
@import "imports/block-field-animation-1.css";
@import "imports/block-feature-list-1.css";
@import "imports/block-logos-1.css";
@import "imports/block-pf-navigation.css";
@import "imports/block-pf-footer.css";
@import "imports/block-pf-youtube-video.css";

/* External */
@import "imports/aos.css";
@import "imports/fa-base.css";
@import "imports/fa-brands.css";
@import "imports/fa-solid.css";

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

*::-moz-selection {
  background: var(--color-primary-1);
  color: var(--color-white);
}

*::-webkit-selection {
  background: var(--color-primary-1);
  color: var(--color-white);
}

*::selection {
  background: var(--color-primary-1);
  color: var(--color-white);
}
