@charset "utf-8";

@import url('font-inter.css');
html {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'cv11', 'cv05';
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
    font-feature-settings: 'cv11', 'cv05';
  }
}

